.welcome {
    text-align: center;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    border-style: solid;
    border-color: darksalmon;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    width: 70%;
    /*width: 800px;*/
    margin: auto;
    margin-top: 20px;
}

a {
    color: black;
}

.button {
    background-color: darksalmon;
    color: white;
}
