.rules{
    font-family: "Lucida Grande", Helvetica, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: brown;
}

h3 {
    color: brown;
}

.box{
    border-style: solid;
    border-color: darksalmon;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}

.playButton {
    text-align: center;
}