.rules{
    font-family: "Lucida Grande", Helvetica, sans-serif;
    width: 70%;
    /*width: 800px;*/
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: brown;
}

h3 {
    color: brown;
}

.box{
    border-style: solid;
    border-color: darksalmon;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.centeredButton {
    text-align: center;
}