.rules{
    font-family: "Lucida Grande", Helvetica, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: brown;
}

h3 {
    color: brown;
}

.box{
    border-style: solid;
    border-color: darksalmon;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}

.centeredButton {
    text-align: center;
}

.playButton {
    border-radius: 5px;
    background-color: darksalmon;
    color: white;
    border-color: darksalmon;
    padding: 5px 5px;
    border: solid thin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}