.game {
    width: 915px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.creatingNewGame {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-color: darksalmon;
    border-radius: 20px;
    padding: 20px;
    width: 915px;
    margin: auto;
}

.creatingNewGameForms > form {
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.insertingNamesInputs > input {
    margin: 3px;
}

.insertingNames {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-color: darksalmon;
    border-radius: 20px;
    padding: 20px;
    width: 915px;
    margin: auto;
}

.insertingNames > form {
    display: inline-block;
}

.section {
    border-style: solid;
    border-color: darksalmon;
    background: #fadab6;
    border-radius: 20px;
    text-align: center;
}

.userBoard {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.userBoard > form {
    margin: 10px;
}

.tiles {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.tiles > form {
    margin: 3px;
}

.table {
    margin: 10px;
}

.buttonBar {
    margin: auto;
}

.buttonBar > form {
    margin: 10px;
    display: inline-block;
}

.tile {
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 22px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    background: #fcf2e6;
    width: 50px;
    box-shadow: inset 0px 0px 5px 5px #f2cea2;
}

.BLUE {
    color: #4941d9;
}

.YELLOW {
    color: gold;
}

.GREEN {
    color: black;
}

.RED {
    color: #e64949;
}

h2 {
    color: brown;
    font-family: "Lucida Grande", Helvetica, sans-serif;
}

