.game {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.creatingNewGame {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-color: darksalmon;
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    margin: auto;
}

.insertingNames {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-color: darksalmon;
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    margin: auto;
}

.section {
    border-style: solid;
    border-color: darksalmon;
    border-radius: 20px;
    text-align: center;
}

.userBoard {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.userBoard > form {
    margin: 10px;
}

.tiles {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.tiles > form {
    margin: 3px;
}

.table {
    margin: 10px;
}

.buttonBar {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: auto;
}

.buttonBar > form {
    margin: 10px;
}

.tile {
    font-weight: bold;
    border: solid thin;
    border-radius: 10px;
    padding: 22px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

.BLUE {
    background-color: #bbd3f2;
    border-color: #4941d9;
    color: #4941d9;
}

.YELLOW {
    background-color: #fffccc;
    border-color: gold;
    color: gold;
}

.GREEN {
    background-color: #ccedce;
    border-color: #3dc444;
    color: #3dc444;
}

.RED {
    background-color: #f0cccc;
    border-color: #e64949;
    color: #e64949;
}

h2 {
    color: brown;
    font-family: "Lucida Grande", Helvetica, sans-serif;
}

