@()

@main("HTWG Rummy") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/index.css")' />
    <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'> </script>

    <div class="welcome">
        <h1>Welcome to Rummy!</h1>
        <a href="rules">
            <button type="button" class="btn btn-light button">
                Rules
            </button>
        </a>
        <br/><br/>
        <a href="rummy">
            <button type="button" class="btn btn-light button">
                Let's play!
            </button>
        </a>
    </div>
}
