@import de.htwg.se.rummy.controller.ControllerInterface
@import de.htwg.se.rummy.controller.component.ControllerState
@(controller: ControllerInterface)


@main("HTWG Rummy") {
    <div>
        @if(controller.controllerState == ControllerState.NEW_GAME) {
            <h1>Menu</h1>
            <form action=@controllers.routes.RummyController.rummy("c")>
                <input type="submit" value="New Game"/>
            </form>
            <br/>
            <form action=@controllers.routes.RummyController.rummy("l")>
                <input type="submit" value="Load Game"/>
            </form>
        }
        @if(controller.controllerState == ControllerState.INSERTING_NAMES) {
            <h1>Insert Names</h1>
            <form action=@controllers.routes.RummyController.rummy("name Caro")>
                <label for="nameInput">Name</label>
                <input type="text" value="" id="nameInput"/>
                <input type="submit" value="confirm"/>
            </form>
            <br/>
            <form action=@controllers.routes.RummyController.rummy("f")>
                <input type="submit" value="Start game"/>
            </form>
            <form action=@controllers.routes.RummyController.rummy("z")>
                <input type="submit" value="Undo"/>
            </form>
            <form action=@controllers.routes.RummyController.rummy("r")>
                <input type="submit" value="Redo"/>
            </form>
        }
        @if(controller.controllerState == ControllerState.P_TURN) {
            <div>
                <h2>user board</h2>
                @for(tile <- controller.viewOfBoard) {
                    <form action=@controllers.routes.RummyController.rummy("l " + tile.value.toString + tile.color.toString.charAt(0).toString + tile.ident.toString)>
                        <input type="submit" value="@tile.value.toString @tile.color.toString.charAt(0).toString @tile.ident.toString"/>
                    </form>
                    <br/>
                }
            </div>
            <br/>
            <hr>
            <br/>
            <div>
                <h2>table</h2>

                @for(sortedSet <- controller.getTileSet) {
                    @for(tile <- sortedSet) {
                        <form action=@controllers.routes.RummyController.rummy("m " + tile.value.toString + tile.color.toString.charAt(0).toString + tile.ident.toString)>
                            <input type="submit" value="@tile.value.toString @tile.color.toString.charAt(0).toString @tile.ident.toString"/>
                        </form>
                    }
                    <br/>
                }
            </div>
            <hr>
            <form action=@controllers.routes.RummyController.rummy("z")>
                <input type="submit" value="Undo"/>
            </form>
            <form action=@controllers.routes.RummyController.rummy("r")>
                <input type="submit" value="Redo"/>
            </form>
            <form action=@controllers.routes.RummyController.rummy("f")>
                <input type="submit" value="Finish"/>
            </form>
        }
        @if(controller.controllerState == ControllerState.P_FINISHED) {
            <h3>Turn finished</h3>
            <form action=@controllers.routes.RummyController.rummy("n")>
                <input type="submit" value="Next player"/>
            </form>
            <br/>
            <form action=@controllers.routes.RummyController.rummy("s")>
                <input type="submit" value="Store Game"/>
            </form>
        }
    </div>
}